<div class="row">
    <div class="col-md-12">
     <div class="form-group">
      <label for="Nombre">Nombre:</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="Nombre" placeholder="Eje: Cassandra">
      <small id="" class="form-text text-muted"></small>
    </div>
  </div>


    <div class="col-md-12">
    <div class="form-group">
      <label for="ApPat">Apellido Paterno:</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="ApellidoPat" placeholder="Eje: Barrera">
      <small id="" class="form-text text-muted"></small>
    </div>
    </div>
        
        
    <div class="col-md-12">
      <div class="form-group">
      <label for="">Apellido Materno</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="ApellidoMat" placeholder="Eje: López">
      <small id="helpId" class="form-text text-muted"></small>
     </div>
</div>
                  
    <div class="col-md-12">
      <div class="form-group">
      <label for="">Sexo</label>
      <select class="form-control" name="" id="" [(ngModel)]="Sexo">
                    <option value="F">Femenino</option>
                    <option value="M"> Masculino</option>
                  </select>
    </div>
    </div>

    <div class="col-md-12">
    <div class="form-group">
    <label for="">Edad</label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="Edad" placeholder="Eje: 18">
      <small id="helpId" class="form-text text-muted"></small>
    </div>
    </div>
                  

<div class="col-md-12">
    <div class="form-group">
     <label for="">Correo:</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="Correo" placeholder="Eje: Cass_Barr@hotmail.com">
     <small id="helpId" class="form-text text-muted"></small>
     </div>
     </div>
</div>

<div clas="col-md-12">
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)='Agregar()'>Agregar</button>
</div>
                  
    
                  










